body {
  background-color: #fcfcfc;
}

p,
a {
  color: #000f08;
  font-family: Lexend Deca;
  text-decoration: none;
}

h1 {
  font-family: Poiret One;
  color: #000f08;
}

header {
  font-family: Lexend Deca;
}
